* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#frontpage {
    background: linear-gradient(rgba(0,0,0,0.5), #2e6877),url(IMAGES/humss.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.frontpage-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.frontpage-navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.frontpage-navbar img {
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.frontpage-navbar img:hover {
    transform: scale(1.1);
}

.frontpage-navbar h4 {
    margin: 0;
    color: white;
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}

.frontpage-navbar h4:hover {
    color: #0cffff;
    transform: scale(1.1);
}


.navbar-menu {
    display: flex;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    position: relative;
}

.navbar-nav a {
    color: white;
    padding: 10px 15px;
    display: block;
    transition: 0.3s;
    position: relative;
}

.navbar-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
}

.navbar-nav a:hover::after {
    width: 100%;
}

.navbar-nav a:hover {
    color: #0cffff;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2e6877;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #028a5c;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.text {
    text-align: center;
    color: white;
    padding: 100px;
}

.text h4 {
    font-size: 40px;
    margin-bottom: 30px;
}

.text p {
    font-size: 18px;
    line-height: 1.5;
}
/*-------------------------------- HUMSS ----------------------------*/
.Humss-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background-color: #2e6877;
}
    
.Humss-content {
    max-width: 800px;
    background: white;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Humss-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.Humss-content h4 {
    font-size: 29px;
    font-weight: bold;
    color: #006366;
}